@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --darkgreen:#1FAB89;
    --green: #62D2A2;
    --lightgreen: #9DF3C4;
    --superlightgreen: #D7FBE8;    
    --RobotoItalic: Roboto:italic;
}


.mainContainer{
    padding: 25px;
    width: 100%;
    min-height: calc(100vh - 75px);
    display: flex;
    gap: 15px;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
 ::-webkit-scrollbar-track {
    background: var(--darkgreen); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #196350; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--superlightgreen); 
  }

  /* Left side */

.leftSide{
    flex: 1;
    max-height: 68vh;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0px 0px 10px 0px var(--green);
    overflow-y: scroll;
    background-color: var(--green);
}
.categoriesTitleContainer{
    padding: 10px 15px;
    border-bottom: 1px solid var(--darkgreen);
    color: #fff;
    text-transform: uppercase;
}

.categoriesList li{
    padding: 10px 30px;
    padding-bottom: 5px;
    margin: 0px 10px;
    border-bottom: 1px solid var(--darkgreen);
    transition: all 0.2s linear;
}
.categoriesList li a{
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear;
}
.categoriesList li:hover{
    background-color: var(--darkgreen);
    color: #fff;
    font-size: 17px;
}
.categoriesList li a:hover{
    color: #fff;
}


/* Right side */

.rightSide{
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.cardContainer{
    width: 30%;
    padding: 0px 15px;
    max-height: 445px;
    margin-left: 30px;
    margin-bottom: 0px;
    transition: all ease 0.6s;
}

.cardContainer:hover{
    transform: scale(1.05);
}
.cardImageContainer{
    width: 100%;
    height: 180px;
    box-shadow: 0px 0px 10px 0px #1C315E;
}

.cardImageContainer img{
    width: 100%;
    background-size: cover;
    height: 180px;
}
.cardContainer .info{
    box-shadow: 0px 0px 10px 0px #1C315E;
    background-color: #1C315E;
}

.blogTitle{
    text-align: center;
    padding-top: 10px;
    color: #fff; 
}
.blogSummary{
    width: 100%;
    height: 170px;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 15pxpx;
    padding: 15px 5px ;
}

.cardContainer .btn{
    padding: 10px;
    background-color: #1C315E;
    box-shadow: 0px 0px 10px 0px #1C315E;
}

.cardContainer a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

